<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Leaf-Now</title>
</head>
<body>
<pre><h1>LEAF NOW
</h1>

    <h2><i>Dear Donor,</i></h2>

<i>On behalf of leaf now, I would like to thank you for your generous donation of money.
Every donation we receive helps us reach our goal for a eco friendly and sustainable society.
Our company could not do what it does without the support of a caring community.
Every plant or seed donated by you will help us in our initiative for increasing green cover.

Thank you again for your thoughtful gift.

Sincerely,
team,
    LEAF NOW</i>








    <p>Click the 'Print PDF' Button to print the PDF</p>
        <button type="submit" onclick="window.print()" class="btn btn-success">Print PDF</button>


</pre>
</body>
</html>